{
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "overrides": [
    {
      "files": ["**/__tests__/*.{j,t}s?(x)", "**/*.spec.{j,t}s?(x)", "jest.setup.js"],
      "env": {
        "jest": true
      }
    }
  ],
  "extends": [
    // add more generic rulesets here, such as:
    // 'eslint:recommended',
    // "prettier",
    "@vue/eslint-config-prettier",
    // "plugin:vue/vue3-essential",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "ignorePatterns": ["dist"],
  "rules": {
    // override/add rules settings here, such as:
    "prettier/prettier": "error",
    "vue/multi-word-component-names": "error",
    "vue/html-closing-bracket-newline": "error",
    "no-var": "error"
  }
}
